<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.domain.gamification.dao.AchievementDao">

    <resultMap id="achievementResultMap" type="com.mayonedev.battle.domain.gamification.entity.Achievement">
        <id property="id" column="achievement_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="rewardExp" column="reward_exp"/>
        <result property="conditionType" column="condition_type"/>
        <result property="conditionValue" column="condition_value"/>
    </resultMap>

    <select id="findAll" resultMap="achievementResultMap">
        SELECT * FROM achievement
    </select>
    
    <select id="findById" resultMap="achievementResultMap">
        SELECT * FROM achievements WHERE achievement_id = #{id}
    </select>

</mapper>
