<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.dao.BattleBookmarkDao">

    <resultMap id="battleBookmarkResultMap" type="com.mayonedev.battle.entity.BattleBookmark">
        <id property="userId" column="user_id"/>
        <id property="bookmarkId" column="bookmark_id"/>
        <result property="refBattleId" column="ref_battle_id"/>
        <result property="refDetailId" column="ref_detail_id"/>
        <result property="memo" column="memo"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.mayonedev.battle.entity.BattleBookmark">
        INSERT INTO battle_bookmark (
            user_id, bookmark_id, ref_battle_id, ref_detail_id, memo, created_at
        )
        VALUES (
            #{userId}, #{bookmarkId}, #{refBattleId}, #{refDetailId}, #{memo}, #{createdAt}
        )
    </insert>

    <select id="findByUserId" parameterType="long" resultMap="battleBookmarkResultMap">
        SELECT *
        FROM battle_bookmark
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>
