<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.dao.BattleTurnDao">

    <resultMap id="turnResultMap" type="com.mayonedev.battle.entity.BattleTurn">
        <id property="id" column="id"/>
        <result property="battleId" column="battle_id"/>
        <result property="turnNo" column="turn_no"/>
        <result property="attackerId" column="attacker_id"/>
        <result property="questionText" column="question_text"/>
        <result property="answerText" column="answer_text"/>
        <result property="multiplier" column="multiplier"/>
        <result property="damage" column="damage"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findByBattleId" parameterType="long" resultMap="turnResultMap">
        SELECT id, battle_id, turn_no, attacker_id, question_text, answer_text, multiplier, damage, created_at
        FROM battle_turn
        WHERE battle_id = #{battleId}
        ORDER BY turn_no ASC
    </select>

    <insert id="insert" parameterType="com.mayonedev.battle.entity.BattleTurn" 
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO battle_turn (battle_id, turn_no, attacker_id, question_text, answer_text, multiplier, damage, created_at)
        VALUES (#{battleId}, #{turnNo}, #{attackerId}, #{questionText}, #{answerText}, #{multiplier}, #{damage}, #{createdAt})
    </insert>

</mapper>
