<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.domain.battle.dao.BookmarkPracticeDao">

    <resultMap id="bookmarkPracticeResultMap" type="com.mayonedev.battle.domain.battle.entity.BookmarkPractice">
        <id property="userId" column="user_id"/>
        <id property="bookmarkId" column="bookmark_id"/>
        <id property="practiceId" column="practice_id"/>
        <result property="userAnswer" column="user_answer"/>
        <result property="aiFeedback" column="ai_feedback"/>
        <result property="damage" column="damage"/>
        <result property="createdAt" column="created_at"/>
        <result property="questionText" column="question_text"/>
        <result property="difficulty" column="difficulty"/>
        <result property="keywordTags" column="keyword_tags"/>
    </resultMap>

    <insert id="insert" parameterType="com.mayonedev.battle.domain.battle.entity.BookmarkPractice">
        INSERT INTO bookmark_practice (
            user_id, bookmark_id, practice_id, user_answer, ai_feedback, damage, created_at
        )
        VALUES (
            #{userId}, #{bookmarkId}, #{practiceId}, #{userAnswer}, #{aiFeedback}, #{damage}, #{createdAt}
        )
    </insert>

    <select id="findByBookmarkId" resultMap="bookmarkPracticeResultMap">
        SELECT *
        FROM bookmark_practice
        WHERE user_id = #{userId} AND bookmark_id = #{bookmarkId}
        ORDER BY practice_id DESC
    </select>

    <select id="findByPracticeId" resultMap="bookmarkPracticeResultMap">
        SELECT bp.*, bd.question_text, bd.difficulty, bd.keyword_tags
        FROM bookmark_practice bp
        JOIN battle_bookmark bb ON bp.bookmark_id = bb.bookmark_id
        JOIN battle_detail bd ON bb.ref_battle_id = bd.battle_id AND bb.ref_detail_id = bd.detail_id
        WHERE bp.user_id = #{userId} AND bp.practice_id = #{practiceId}
    </select>

    <update id="updateResult" parameterType="com.mayonedev.battle.domain.battle.entity.BookmarkPractice">
        UPDATE bookmark_practice
        SET user_answer = #{userAnswer},
            ai_feedback = #{aiFeedback},
            damage = #{damage}
        WHERE user_id = #{userId} 
          AND bookmark_id = #{bookmarkId}
          AND practice_id = #{practiceId}
    </update>

</mapper>
