<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.domain.stage.dao.StageDao">

    <resultMap id="StageResultMap" type="com.mayonedev.battle.domain.stage.entity.Stage">
        <id property="stageId" column="stage_id"/>
        <result property="companyName" column="company_name"/>
        <result property="title" column="title"/>
        <result property="deadline" column="deadline"/>
        <result property="jobCategory" column="job_category"/>
        <result property="content" column="content"/>
    </resultMap>

    <sql id="stageFilterByJobCategories">
        <where>
            stage_id != 0

            <if test="showClosed == false">
                AND (deadline >= CURDATE() OR deadline IS NULL)
            </if>

            <if test="jobCategories != null and jobCategories.size() > 0">
                AND job_category IN
                <foreach collection="jobCategories" item="jobCategory" open="(" separator="," close=")">
                    #{jobCategory}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
      				AND (
       				title LIKE CONCAT('%', #{keyword}, '%')
       				OR company_name LIKE CONCAT('%', #{keyword}, '%')
      				)
    		</if>
        </where>
    </sql>

    <sql id="stageOrderBy">
        <choose>
            <when test="sort == 'latest'">
                ORDER BY stage_id DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY stage_id ASC
            </when>
            <otherwise>
                <!-- Default: Deadline Approaching -->
                ORDER BY 
                CASE 
                    WHEN deadline IS NULL THEN 1  <!-- Put No Deadline items at bottom -->
                    ELSE 0
                END ASC,
                deadline ASC
            </otherwise>
        </choose>
    </sql>

    <select id="findAll" resultMap="StageResultMap">
        SELECT 
            stage_id,
            company_name,
            title,
            deadline,
            job_category,
            content
        FROM stage
        WHERE stage_id != 0
        <if test="showClosed == false">
            AND (deadline >= CURDATE() OR deadline IS NULL)
        </if>
        ORDER BY deadline ASC
    </select>

    <select id="findById" resultMap="StageResultMap">
        SELECT 
            stage_id,
            company_name,
            title,
            deadline,
            job_category,
            content
        FROM stage
        WHERE stage_id = #{stageId}
    </select>

    <select id="findAllWithPaging" parameterType="map" resultMap="StageResultMap">
        SELECT 
            stage_id,
            company_name,
            title,
            deadline,
            job_category,
            content
        FROM stage
        WHERE stage_id != 0
        <if test="showClosed == false">
            AND (deadline >= CURDATE() OR deadline IS NULL)
        </if>
        <include refid="stageOrderBy"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByJobCategoriesWithPaging" parameterType="map" resultMap="StageResultMap">
        SELECT 
            stage_id,
            company_name,
            title,
            deadline,
            job_category,
            content
        FROM stage
        <include refid="stageFilterByJobCategories"/>
        <include refid="stageOrderBy"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM stage
        WHERE stage_id != 0
        <if test="showClosed == false">
            AND (deadline >= CURDATE() OR deadline IS NULL)
        </if>
    </select>

    <select id="countByJobCategories" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM stage
        <include refid="stageFilterByJobCategories"/>
    </select>

    <insert id="insert" parameterType="com.mayonedev.battle.domain.stage.entity.Stage" 
            useGeneratedKeys="true" keyProperty="stageId">
        INSERT INTO stage (
            company_name, title, job_category, content, deadline
        )
        VALUES (
            #{companyName}, #{title}, #{jobCategory}, #{content}, #{deadline}
        )
    </insert>

</mapper>
