<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayonedev.battle.dao.TopicDao">

    <resultMap id="topicResultMap" type="com.mayonedev.battle.entity.Topic">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findAll" resultMap="topicResultMap">
        SELECT id, name
        FROM topic
    </select>

    <select id="findById" parameterType="long" resultMap="topicResultMap">
        SELECT id, name
        FROM topic
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.mayonedev.battle.entity.Topic" 
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topic (name)
        VALUES (#{name})
    </insert>

</mapper>
